
<div class="widget-wrapper">
    <md-card class="example-card">

      <div class="is-loading" *ngIf="isLoading">
        <md-spinner></md-spinner>
      </div>

      <div class="widget-content" *ngIf="!isLoading">
            <md-card-header>
                <div md-card-avatar class="example-header-image"></div>

                <md-card-title>Shiba Inu</md-card-title>

                <md-card-subtitle>Dog Breed</md-card-subtitle> 



                <span class="widgets-actions">

                    <button md-icon-button [mdMenuTriggerFor]="menu">
                      <md-icon>more_vert</md-icon>
                    </button>

                    <md-menu #menu="mdMenu">

                    <button md-menu-item>
                      <md-icon>open_in_new</md-icon>
                      <span>Open In Invastigation Mode</span>
                    </button>

                      <button md-menu-item>
                        <md-icon>star_border</md-icon>
                        <span>Add to Favorite</span>
                      </button>

                    </md-menu>
                </span>



            </md-card-header>

            <!-- <img md-card-image src="../../../assets/img/test22/shiba2.jpg"> -->
          
            <md-card-content>
              <!-- <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p> -->

                      <div class="row">
                          <div class="">
                            <div style="display: block;">
                            <canvas baseChart width="530" height="300"
                                        [datasets]="lineChartData"
                                        [labels]="lineChartLabels"
                                        [options]="lineChartOptions"
                                        [colors]="lineChartColors"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType"
                                        (chartHover)="chartHovered($event)"
                                        (chartClick)="chartClicked($event)"></canvas>
                            </div>
                          </div>
                          <!-- <div class="" style="margin-bottom: 10px">

                          </div> -->
                        </div>
            </md-card-content>

             <!-- <md-card-actions>
             <button md-menu-item  (click)="randomize()">
                              <md-icon>star</md-icon>
                              <span>Randomize</span>
              </button>
            </md-card-actions>  -->
      </div>
    </md-card>
</div>

