
<div class="data-grid-wrapper">
        <div class="is-loading" *ngIf="isLoading">
          <md-spinner></md-spinner>
        </div>
        
         <div class="widget-content" *ngIf="!isLoading">


            <!-- <app-toolbar></app-toolbar> -->
                   <div class="toolbar-wrapper">
                      <table>
                        <tr>
                          <td>
                              <md-input-container>
                                <input mdInput [mdDatepicker]="picker2" placeholder="Choose a date">
                                <button mdSuffix [mdDatepickerToggle]="picker2"></button>
                              </md-input-container>
                              <md-datepicker #picker2></md-datepicker> 
                          </td>
                          <td>
                              <md-input-container>
                                <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                                <button mdSuffix [mdDatepickerToggle]="picker"></button>
                              </md-input-container>
                              <md-datepicker #picker></md-datepicker> 
                          </td>
                          <td>
                              <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                                <md-option *ngFor="let food of foods" [value]="food.value">
                                  {{food.viewValue}}
                                </md-option>
                              </md-select>
                          </td>
                            <td>
                              <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                                <md-option *ngFor="let food of foods" [value]="food.value">
                                  {{food.viewValue}}
                                </md-option>
                              </md-select>
                          </td>
                          <td>
                                <a md-raised-button>submit</a>
                          </td>
                        </tr>
                      </table>
                  </div> 




            <md-menu #menu="mdMenu">
              <button md-menu-item>
                <md-icon>dialpad</md-icon>
                <span>Redial</span>
              </button>
              <button md-menu-item disabled>
                <md-icon>voicemail</md-icon>
                <span>Check voicemail</span>
              </button>
              <button md-menu-item>
                <md-icon>notifications_off</md-icon>
                <span>Disable alerts</span>
              </button>
            </md-menu>
            <div class="">
              <div class="">
                <div style="display: block;">
                <canvas baseChart width="400" height="120"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
              <div class="" style="margin-bottom: 10px">
                <button md-menu-item  (click)="randomize()">
                  <md-icon>star</md-icon>
                  <span>Randomize</span>
                </button>
              </div>
            </div>
        </div> 


</div>


