
<div class="navigation-wrapper">

    <ul class="nav">
      <li routerLinkActive="active">
        <button md-button>
          <i class="material-icons">home</i>
          <a routerLink="/home">Home</a>
        </button>
      </li>
      <li routerLinkActive="active">
        <button md-button>
          <i class="material-icons">widgets</i>
          <a routerLink="/dashboard">Dashboard</a>
        </button>
      </li>
      <li routerLinkActive="active">
        <button md-button>
          <i class="material-icons">grid_on</i>
          <a routerLink="/data-grid">Data-grid</a>
        </button>

      </li>
      
      <li routerLinkActive="active">
        <button md-button>
          <i class="material-icons">settings</i>
          <a routerLink="/settings">Settings</a>
        </button>
      </li>
      <li>
         <app-actions></app-actions>
      </li>
    </ul>
</div>

