
.sidebar-wrapper {
    
    h2 {
        display: inline-block;
        padding-left: 17px;
        font-size: 18px;
    }

    .back-btn {
        right: 20px;
        top: 7px;
        position: absolute;

        button {
            border-radius: 50px;
            min-width: 2px; 
        }
    }

    md-list {

        md-list-item {

            transition: width 2s;
            -webkit-transition: width 2s; /* Safari */
            color: #111;
            background-color: #fff;

            &:hover {
                background-color: #9dbaf2;
                color: #fff;
            }

            .mat-list-icon {
                color: rgba(0, 0, 0, 0.54);
            }
        }

    }
}